*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f9f9f9;
    color: #333;
}
#header-bar {
    text-align: center;
    background-color: #ff9dce;
    padding: 10px;
    color: white; 
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background-color: rgba(255, 235, 243, 0.8);
}
.navbar h1{
    font-size:  30px; 
    color: #333;
}
.navbar nav a {
    text-decoration: none;
    font-weight: bold;
    margin: 0 15px;
    color: #333;
}
.navbar nav a:hover {
    color: #ff1493;
}

.cart-icon {
    width: 20px;
    vertical-align: middle;
}


#makeup-products {
    text-align: center;
    padding: 30px 40px;
    background-color: #fff;
}
.intro h2 {
    font-size: 32px;
    color: #333;
    margin-bottom: 10px;
}

.intro p {
    font-size: 18px;
    color: #666;
    margin-bottom: 40px;
}
.dropdown-box {
    text-align: center;
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
    background-color: #fff;
    cursor: pointer;
}
.dropdown-box:hover {
    border-color: #000;
}
