* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}

.hero-section {
 background-image: url(fotot/end.jpg.jpg);
 background-size: cover;
 background-position: center;
 color: white;
 display: flex;
 align-items: center;
 padding: 0 40px;
 height: 100vh;
}

.hero-content{
    max-width: 500px;
}

.hero-content h2 {
 font-size: 48px;
 margin-bottom: 10px;
 color: rgb(42, 36, 80);
 font-family: 'Bebas Neue', sans-serif;
}

.hero-content p {
 font-size: 20px;
 margin-bottom: 20px;
 color: white;
}

#header-bar {
   background-color: #ff9dce;
   text-align: center;
   padding: 10px 0;
   font-weight: bold;
   color: white;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 235, 243,0.8);
    padding: 15px 30px;
}
.nav-bar h1 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}
.nav-bar nav a {
 margin: 0 15px;
 color: #333;
 font-weight: bold;
 text-decoration: none;

}
.nav-bar nav a:hover {
    color: #ff1493;
}
.cart-icon {
  width: 20px;
  vertical-align: middle;

}
.search-button input[type="text"] {
    width: 200px;
    padding: 8px 15px;
    border: 2px solid #ff69b4;
    border-radius: 20px;
    font-size: 16px;
    color: #333;
    transition: all 0.3 ease;
}

.search-button {
    background-color: transparent;
    position: relative;
    border: none;
}
.search-button input[type="text"]:hover,
.search-button input[type="text"]:focus {
    border-color: #ff1493;
    box-shadow: 0px 0px 5px rgba(255, 20, 147, 0.5);
}
.search-button input [type="text"]::placeholder{
   color: #999;
   font-style: italic;

}

.container {
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
    background-color: #f9f9f9;
}
.product-category {
    text-align: center;
    position: relative;
    cursor: pointer;
    width: 30%;
}
.product-category img {
    width: 80%;
    height: auto;
    transition: transform 0.3s ease-in-out;
    border-radius: 20px;
}
.product-category:hover img {
    transform: scale(1.05);
    box-shadow: 0 0 10px #ff69b4,0 0 20px #ff69b4, 0 0 30px #ff69b4;
}
.product-info {
    position: absolute;
    bottom: 12px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-weight: bold;
    background: rgba(0, 0 ,0 , 0.6);
    padding: 10px;
    border-radius: 5px;
}

footer {
    background-color: #222;
    color: white;
    padding: 40px 0;
}
.footer-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: left;
    padding: 0 20px;
}
.footer-section{
    max-width: 180px;
    margin: 15px;
}
.footer-section h3 {
    font-size: 18px;
    margin-bottom: 15px;
    color: #ff69b4;

}
 .footer-section ul {
    list-style: none;
    padding: 0;
 }
 .footer-section ul li {
    margin: 5px 0;
 }
 .footer-section ul li a {
    color: #ccc;
    text-decoration: none;
 }
 .footer-section ul li a:hover {
    color: #ff69b4;
 }

 .payment-methods img , .social-media img {
    width: 35px;
    height: auto;
    margin: 5px;
    transition: transform 0.3 s ease;
    background-color: transparent;
 }

 .payment-methods img:hover, .social-media img:hover {
    transform: scale(1.1);
 }
 .footer-bottom {
    text-align: center;
    margin-top: 30px;
    padding-top: 15px;
    border-top: 1px solid #444;
    color: #ccc;
 }
 .footer-bottom p {
    margin: 0;
 }

 /* Per me e bo faqen responsive ne pajisje mobile qe jane below 768px*/

 @media (max-width: 768px) {
    .nav-bar{
        flex-direction: column;
        text-align: center;
    }
.nav-bar nav a {
    padding: 15px;
}

 .hero-section {
    padding: 30px 10px;
 }

 .hero-content h2 {
    font-size: 2cm;
 }
 
 .container {
    flex-direction: column;
    align-items: center;
 }

 .product-category {
    width 100%
    margin-bottom:  20px;
 }
 .footer-main {
    flex-direction: column;
    align-items: center;
 }

 .footer-section {
    width: 100%;
    margin-bottom: 20px;
 }
 .footer-section.payment-methods img {
    width: 30px;
    margin-right: 10px;
 }
 }

 /*Per screen me te medha*/

 @media (max-width: 1024px) {
    .nav-bar {
        flex-direction: column;
        align-items: flex-start;
    }
 .nav-bar h1{
    font-size: 1.8cm;
 }
 .container {
    flex-direction: column;
    align-items: center;
 }
 .product-category {
    width: 80%;
    margin-bottom: 20px;
 }
 .footer-main {
    flex-direction: column;
    align-items: center;
 }
 .footer-section {
    width: 100%;
    margin-bottom: 20px;
 }
}